:root{
	--default-border-size:1px;
	--default-margin:15px;
	--margin-adjustment:calc(2*var(--default-margin));
	--menu-height:30px;
	--second-row-top:calc(var(--menu-height) + var(--default-margin));
	--side-column-width:calc(20% - var(--margin-adjustment) - 2*var(--default-border-size));
	--main-column-width:calc(100% - (var(--side-column-width)*2) - (var(--default-margin)*2) - var(--margin-adjustment) - 2*var(--default-border-size));
	--column1-left: var(--default-margin);
	--column2-left: calc(var(--side-column-width) + (var(--default-margin))*2);
	--column3-left: calc(var(--column2-left) + var(--main-column-width) + var(--default-margin));
}
ol {
list-style-position: inside;
}

*{
	padding: 0px;
	margin: 0px;
}
.layout {
	position: absolute;
}
.black{
		/* border:solid var(--default-border-size) black; */
}
.secondRow{
	top:var(--second-row-top);
}
.column{
	min-height: calc(100% - var(--second-row-top) - var(--default-margin));
	background-color: white;
}
.article{
	width:100%;
	min-height:200px;
}
#topMenu{
	position:fixed;
	width:calc(100% - 2*var(--default-border-size));
	height:var(--menu-height);
	background-color: black;
	z-index: 1;
}
#column1, #column3{
	width:var(--side-column-width);
}
#column1{
	left:var(--column1-left);
}
#column2{
	width: var(--main-column-width);
	left:var(--column2-left);
}
div#column3{
	left:var(--column3-left);
}

a.sideMenuLink {
    display: block;
    text-decoration: none;
    color: lime;
    text-align: center;
}

a.sideMenuLink:hover {
    color: black;
}

div#adSpace {
    display: flex;
    height: calc(100% - var(--second-row-top) - var(--default-margin));
    justify-content: center;
    align-items: center;
    border: dashed 1px black;
    width: var(--side-column-width);
    position: fixed;
}

body {
    background-color: white;
}
